<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/temperatureConvertor-imp/src/com/web/convertertest/TestServiceImplementation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.web.convertertest.TestServiceImplementation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="temperatureConvertor-imp"/>
</launchConfiguration>
